// FONT COLOR
$principalTextColor: #030303;
$titleColor: #F15C21;

// FONT FAMILY
$titleFont: 'bangers';
$textFont: 'oswald';

// GENERAL COLORS
$backgroundColor: #F2F2F0;
$principalColor: #F4831E;
$secondaryColor: #4D8ED3;
